<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title ng-bind="title">MEANie - The MEAN Stack Blog</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/_dist/app.css" rel="stylesheet" />

    <base href="/" />
</head>
<body class="container">
    <% if(locals.error) { %>
	    <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/page/code-snippets">Code Snippets</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>

    <!-- main -->
    <main ui-view class="container">
        <% if(locals.templateUrl) { %>
            <div ng-non-bindable>
                <%- include(locals.templateUrl) %>
            </div>
        <% } %>
	</main>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>About</h4>
                    <p>I'm a web developer in Sydney Australia and the owner of <a href="https://www.pointblankdevelopment.com.au" target="_blank">Point Blank Development</a>, I've been building websites and web applications in Sydney since 1998.</p>
                </div>
                <div class="col-sm-4">
                    <h4>Months</h4>
                    <month-list></month-list>
                </div>
                <div class="col-sm-4">
                    <h4>Tags</h4>
                    <tag-list></tag-list>
                </div>
            </div>
        </div>
        <div class="container text-center copyright">
            &copy; 2016 JasonWatmore.com
            &nbsp;-&nbsp;
            Powered by <a href="https://pointblankdevelopment.com.au" target="_blank">Point Blank Development</a>
        </div>
    </footer>

    <!-- underscore -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- meanie -->
    <script src="/_dist/app.min.js"></script>
</body>
</html>