<%- include('partials/header.html') %>
<div class="form-container">
    <h2>Install</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="username">Admin Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" autofocus />
        </div>
        <div class="form-group">
            <label for="password">Admin Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>
<%- include('partials/footer.html') %>